/* I feel there is a bit of redundancy sprinkled in here and there so I will definitely continue to tinker moving forward*/
* {
    /* specifies font for the whole page */
    font-family: Times, "Times New Roman", Georgia, sans-serif; 
}
body {
    /* determines font size for body elements as well as provides a background color plus some spacing */
    font-size:16px;
    background:#1b423a;
    padding-top:10px;
}
/* all of the header selectors manipulate elements within the header */
header {
    border-radius:15px 15px 0px 0px;
    background-color:#1a2b2a;
    height:100px;
}
header h1{
    display:inline-block;
    color:#fff;
    font-size: 36px;
    justify-content:center;
    margin-left:25px;
}   

header ul {
    list-style-type:none;
    font-size: 20px;
    color:#fff;
    float:right;
    text-decoration:none;
    padding-top:20px;
    justify-content:center;
    margin-right:25px;
}
header ul li{
    display:inline-block;
    margin-bottom:15px;
    margin-left:15px;
}
a {
    /* styles the links in the header. While not specific to the header, links only show up there so theres no issue */
    text-decoration:none;
    color:#fff;
}
section {
    display:block;
}

section.background {
    /* this manipulates the image under the header. */ 
    background: url("images/greentrees.png");
    background-size:cover;
    background-position:center;
    height: 200px;
    width:100%;
    border-radius:0px 0px 15px 15px;
} 

section.sidebar section{
    /* this portion manipulates the labels to the far left of the body. */ 
    display:flex;
    position:relative;

}

section.sidebar h2{
    /* manipulates the elements within the sidebar section(section to the far left) */
    padding-top:15px;
    align-items:start;
    clear:both;
    text-align:right; 
    float:left;
    min-width:15%;
    color:#fff;
    background-color:#1a2b2a;
    padding:20px;
    border-radius:15px;
    margin-right:10px;
    font-size:30px;
}

.content img{ 
    /* manipulates the images that show up in the project portion of the body */
    justify-content: center;
    opacity:0.75;
    border-radius:15px;
    width: 100%;
    height:100%;
    display:block;
}
/* the following two selectors manipulate the image when a user hovers over it */
.content div{
    opacity: 0.9;
}
.content div:hover{
    opacity: 1.0;
    border-color:#348052; 
}

.content{
    /* this manipulates the containers that actually hold the about me, project, and contact information */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
    text-align:center;
    border-radius: 15px;
    background-color:#245146;
    width: 65%;
    border-style:solid;
    border-width:2px;
    border-color:#2b6045;
    color:#fffaf0 ;
}

.image_main {
    /* manipulates the main project image */
    justify-content: center;
    position:relative;
    font-size:35px;
    border:2px solid #2b6045;
    border-radius:15px;
    height: 500px;
    width: 85%;
    min-height: 25%;

}

.image_content{
    /* manipulates the images that follow the main image */
    display:block;
    position: relative;
    font-size: 20px;
    width: 40%;
    border: 2px solid #2b6045;
    border-radius: 15px;
    margin: 10px 10px 0px 0px;
    max-height: 25%;
    height: 150px;
}

.image_overlay h3 {
    /* manipulates the overlay for images */
    display:flex;
    color: #fff;
    position: absolute;
    background-color: #2b6045;
    padding:10px;
    border-radius:0px 15px 15px 0px;
    margin:0px 0px 10px 0px;
    font-size:20px;
    max-height:20%;
    bottom: 0;
    justify-content: left;
    
}

footer { 
    /* orients and styles the footer element */
    text-align:center; 
    font-size: 10px;
    color: #fff;
    background-color:#1a2b2a;
    display: block;
    width:15%;
    justify-content:center;
    margin:auto;
    border-radius:15px;
    opacity: 0.5;
}
